<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'/>
    <title>help page</title>
  </head>
  <body>
    {{> header}}
    <p>Q&A page to help users solve their issues.</p>

    {{> footer}}
  </body>
</html>
