<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>Home</title>
</head>
<body>
  {{> header}}
  <p>{{screamIt welcomeMessage}}</p>
  <p>This is an express and handlebars webpage.</p>

  {{> footer}}
</body>
</html>
