<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'/>
    <title>Projects page</title>
  </head>
  <body>
    {{> header}}
    <p>Page to see the current projects of the company</p>
    <ul>
      <li>Solar energy</li>
      <li>Building automation</li>
      <li>Facade cleaning services</li>
      <li>Robotic fashion advertising</li>
    </ul>

    {{> footer}}
  </body>
</html>
